<h1>Testez les formulaires déjà existants</h1>
<div class="d-flex flex-grow-1">
  <div class="bg-danger text-light w-25">
    <app-list-forms></app-list-forms>
  </div>
</div>
<div class="w-75">
  <h2>Custom form</h2>
  <button (click)="populateSchema()">populate schema</button>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Demo form</a>
      <ng-template ngbNavContent>
        <form *ngIf="jsonFormSchema; else noJsonFormSchema">
          <json-schema-form
            [form]="jsonFormSchema"
            [options]="formOptions"
            [framework]="FrameworkComponent"
            (onChanges)="onChanges($event)"
          >
          </json-schema-form>
        </form>
        <ng-template #noJsonFormSchema>
          <ngb-alert [dismissible]="false" ngElse>
            <strong>Warning!</strong> Choisissez un formulaire
          </ngb-alert>
        </ng-template>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>json schema form data</a>
      <ng-template ngbNavContent>
        <div class="card border-info">
          <div class="card-body">
            <pre>{{ jsonFormSchema | json }}</pre>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div
  class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
  style="width: 380px"
>
  <h2>Data</h2>
  <div class="card border-info">
    <div class="card-body">
      <pre>{{ liveFormData | json }}</pre>
    </div>
  </div>
</div>
