<div class="row">
  <div class="col-2 p-0 border mh-100 overflow-auto">
    <app-list-forms></app-list-forms>
  </div>
  <div class="col-6 border mh-100" style="overflow-y: scroll">
    <h2>Formulaire</h2>
    <button class=" m-2 btn btn-success" (click)="populateSchema()">populate schema</button>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Demo form</a>
        <ng-template ngbNavContent>
          <form *ngIf="jsonFormSchema; else noJsonFormSchema">
            <json-schema-form [form]="jsonFormSchema" [options]="formOptions" [framework]="FrameworkComponent"
              (onChanges)="onChanges($event)">
            </json-schema-form>
          </form>
          <ng-template #noJsonFormSchema>
            <ngb-alert [dismissible]="false" ngElse>
              <strong>Warning!</strong> Choisissez un formulaire
            </ngb-alert>
          </ng-template>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" *ngIf='jsonFormSchema'>
        <a ngbNavLink>json schema form data</a>
        <ng-template ngbNavContent>
          <pre><code [highlight]="jsonFormSchema|json"></code></pre>

        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <div class="col-4 border" style="overflow-y: scroll">
    <h2>Données</h2>
    <pre><code [highlight]="liveFormData|json"></code></pre>
  </div>
</div>
