<nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-shrink-0">
  <a class="brand navbar-brand" href="/">Brand</a>
  <button
    class="navbar-toggler s-btn-hamburger order-first s-color-icons"
    aria-expanded="true"
    aria-controls="navbar-test"
    aria-label="Toggle navigation"
    type="button"
    data-target="#navbar-test"
    data-toggle="collapse"
  >
    <span class="navbar-toggler-icon k-icon k-icon-md k-i-hamburger"></span>
  </button>
  <div class="navbar-collapse s-menu-content collapse show" id="navbar-test">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="dropdown1"
          aria-expanded="false"
          aria-haspopup="true"
          data-toggle="dropdown"
          >Menu Item</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdown1">
          <a class="dropdown-item" href="#">Sub menu</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Test</a>
      </li>
    </ul>
  </div>
</nav>
